.header {
  position: sticky;
  top: 0;
  width: 100%;
  transition: 0.3s;
  border-top: solid 10px rgb(55, 59, 73);
  z-index: 1000;
}

.light {
  background-color: var(--light);
}

.header article {
  max-width: 1200px;
  /* flex-basis: 100%; */
  padding: 15px 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header article h1 {
}

#fullSiteNav {
  display: flex;
  gap: 20px;
  text-align: center;
}

#fullSiteNav a {
  text-decoration: 0;
  padding: 10px 15px;
  font-weight: 700;
  color: var(--light);
  border-radius: 3px;
  gap: 5px;
}

.light #fullSiteNav a {
  color: var(--dark);
}

#fullSiteNav a:last-child {
}

#burgerMenuButton,
#burgerMenu {
  display: none;
}

@media (max-width: 700px) {
  .header {
    padding: 15px 0;
  }

  .header article {
    padding: 0 20px;
  }

  #fullSiteNav {
    display: none;
  }

  #burgerMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: none;
    transition: 0.5s;
  }

  .light #burgerMenuButton:hover {
    background-color: var(--dark);
  }

  .light #burgerMenuButton:hover svg,
  .dark #burgerMenuButton:hover svg {
    stroke: var(--accent);
  }

  .light #burgerMenuButton svg {
    stroke: var(--dark);
    transition: 0.5s;
  }

  .dark #burgerMenuButton svg {
    stroke: var(--light);
    transition: 0.5s;
  }

  #burgerMenu {
    display: block;
    position: absolute;
    left: -280px;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 100%;
    z-index: -10;
    padding: 70px 40px;
    -webkit-animation: slideIn 0.5s forwards;
    animation: slideIn 0.5s forwards;
    background-color: white;
  }

  @keyframes slideIn {
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes slideIn {
    100% {
      left: 0;
    }
  }
}
