.listContainer {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 40px;
  color: var(--light);
}

.listContainer select {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: var(--blueAccent);
}

.listContainer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.listContainer li {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
  /* border: solid 1px; */
}

.listContainer li svg {
  width: 60px;
  fill: var(--light);
}
