.backend_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--light);
  min-height: 90vh;
  border: solid;
}

.backend_wrapper article {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 40px;
  grid-template-areas:
    ". . title title title title"
    ". skills skills para para para";
}

.dark {
  background-color: var(--dark);
}

/* --- Copy Column --- */
.backend_wrapper article h2 {
  font-size: 3rem;
  font-weight: 200;
  color: var(--dark);
  font-family: var(--titleFont);
  font-weight: 600;
  letter-spacing: -0.1rem;
  grid-area: title;
}

.copy_container {
  grid-area: para;
  padding: 0 40px;
}

.copy_container h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

.copy_container p {
  font-size: 1.3rem;
  margin: 20px 0;
}

.skills {
  grid-area: skills;
  padding: 0 40px;
}
