.skills {
  width: 100%;
  padding: 120px 0;
  background-color: var(--dark);
  background: rgb(37, 39, 46);
  background: -moz-linear-gradient(
    52deg,
    rgba(37, 39, 46, 1) 0%,
    rgba(46, 51, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    52deg,
    rgba(37, 39, 46, 1) 0%,
    rgba(46, 51, 70, 1) 100%
  );
  background: linear-gradient(
    52deg,
    rgba(37, 39, 46, 1) 0%,
    rgba(46, 51, 70, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#25272e",endColorstr="#2e3346",GradientType=1);
}

.skills article {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
