.about_section {
  padding: 75px 40px;
  z-index: 1;
}

.about_section h2 {
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: -0.4rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 60px;
}

.column_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.left_column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left_column h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 50px 0;
}

.left_column p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.right_column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.right_column h4 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
}

.right_column p {
  margin: 20px 0;
}

.right_column ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-weight: 600;
}

@media (max-width: 960px) {
  .column_container {
    grid-template-columns: 1.5fr 1fr;
    gap: 60px;
  }
}

@media (max-width: 720px) {
  .column_container {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
