.contact_section {
  width: 100%;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px 100px 40px;
}

.contact_section h2 {
  font-size: 3rem;
  letter-spacing: -0.2rem;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  color: var(--blue);
}

.contact_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  color: #ffffff;
}

.contact_columns h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.contact_columns p {
  margin-bottom: 10px;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactForm label {
  font-size: 0.9rem;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  font-family: "Poppins", "Arial", sans-serif;
  margin-top: 5px;
  background-color: #1c252d;
}

.contactForm textarea {
  min-height: 10rem;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: #ffffff;
}

.contactForm button {
  width: 50%;
  background: none;
  border: solid 2px var(--blue);
  color: #fff;
  font-weight: 600;
  padding: 12px 8px;
  border-radius: 5px;
  transition: 0.4s;
}

.contactForm button:hover {
  background-color: var(--blue);
}

.contactForm p {
  font-style: italic;
  font-size: 0.9rem;
}

.confirmSent {
  display: flex;
  flex-direction: column;
}

.confirmSent h3 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.1rem;
}

.confirmSent p {
  font-size: 1.4rem;
}

@media (max-width: 840px) {
  .wrapper {
    padding: 100px 40px;
  }
  .contactForm button {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .contact_columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .contact_section h2 {
    margin-bottom: 20px;
  }

  .contact_columns h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
}
