.wrapper {
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;
  perspective: 200px;
}

.parallax_group {
  position: relative;
  height: 100vh;
  margin-top: -10vh;
  transform-style: preserve-3d;
}

.parallax_layer {
  height: 100vh;
  position: absolute;
  inset: 0;
  max-width: 1296px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 200px;
}

/* ((translateZ * -1)/perspective(300))+1*/
.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(-100px) scale(1.5);
}

.hero_text h1 {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 1.2rem;
  margin-bottom: -10px;
  /* width: 100%; */
}

.hero_text h1 span {
  font-weight: 400;
}

.hero_text h2 {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  letter-spacing: -0.3rem;
  /* width: 100%; */
}

.layer_one {
  background-image: url("./../public/hero/purple.svg");
  transform: translateZ(-100px) scale(1.5);
  background-position: 37% 70%;
}
.layer_two {
  background-image: url("./../public/hero/blue.svg");
  transform: translateZ(-200px) scale(2);
  background-position: 42% 55%;
}
.layer_three {
  background-image: url("./../public/hero/yellow.svg");
  transform: translateZ(-600px) scale(4);
  background-position: 47.5% center;
}
.layer_four {
  background-image: url("./../public/hero/blue.svg");
  transform: translateZ(-2000px) scale(11);
  background-position: 52.5% 60%;
}
.layer_five {
  background-image: url("./../public/hero/red.svg");
  transform: translateZ(-80px) scale(1.4);
  background-position: 57% 45%;
}
.layer_six {
  background-image: url("./../public/hero/green.svg");
  transform: translateZ(-750px) scale(4.75);
  background-position: 62% 40%;
}

@media (max-width: 960px) {
  .parallax_layer {
    background-size: 150px;
  }
  .hero_text h2 {
    font-size: 5rem;
  }
}
@media (max-width: 720px) {
  .parallax_layer {
    background-size: 120px;
  }
  .hero_text h1 {
    font-size: 1rem;
    letter-spacing: 1rem;
  }

  .hero_text h2 {
    font-size: 4rem;
  }
}

@media (max-width: 560px) {
  .hero_text {
    align-items: flex-start;
    width: 90%;
    margin: 0 0 0 10%;
  }

  .hero_text h1 {
    margin: 0 0 40px 5px;
    letter-spacing: 0.3rem;
  }

  .hero_text h1 span {
    display: block;
    line-height: 1rem;
  }
  .hero_text h2 {
    font-size: 5rem;
    line-height: 1;
  }
}

@media (max-width: 400px) {
  .hero_text h2 {
    line-height: 0.9;
  }

  .hero_text h2 span {
    display: block;
  }
  .hero_text h2 .title_full {
    font-size: 8rem;
    line-height: 0.8;
  }

  .hero_text h2 .title_stack {
    font-size: 5.9rem;
  }

  .hero_text h2 .title_developer {
    font-size: 3.5rem;
  }
}
