.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
  background-color: #efeeea;
}

.contentWrapper {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;
}

.col1 {
  padding: 0 80px 0 40px;
  border-right: solid 1px rgb(157, 217, 240);
}

.col1 h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  letter-spacing: -0.3rem;
}

.col1 h3 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin: 2rem 0 3rem 0;
}

.col2 {
  padding: 0 40px 0 80px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.col2 h4 {
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: solid 1px rgb(232, 232, 232);
  font-family: "Poppins", "Arial", sans-serif;
}

.contactForm textarea {
  min-height: 10rem;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
  font-style: italic;
  font-size: 0.8rem;
}

.contactForm button {
  background-color: #dc4f4f;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.confirmSent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.confirmSent h3 {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 5px var(--blueText);
  border-radius: 50px;
  color: var(--blueText);
  font-weight: 600;
}

.confirmSent p {
  margin-top: 20px;
  font-size: 1.3rem;
}
