.sectionwrapper {
  width: 100%;
  background-color: rgb(168, 191, 219);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 4rem;
}
