.header {
  position: sticky;
  top: 0;
  width: 100%;
  transition: 0.3s;
  z-index: 1000;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 10px var(--redAccent);
}

.light {
  background-color: var(--light);
}
.dark {
  background-color: var(--dark);
}

.header article {
  max-width: 1200px;
  flex-basis: 100%;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

#fullSiteNav {
  display: flex;
  gap: 30px;
}

#fullSiteNav a {
  text-decoration: 0;
  font-weight: 600;
  margin-top: 6px;
}

.light #fullSiteNav a {
  color: var(--dark);
}

.dark #fullSiteNav a {
  color: var(--light);
}

.header #fullSiteNav a:after {
  content: "";
  width: 40px;
  height: 4px;
  margin: 2px 0 0 0;
  display: block;
  background-color: transparent;
  border-radius: 4px;
  transition: 0.8s;
}

#fullSiteNav a:hover:after {
  background-color: var(--redAccent);
}

#burgerMenuButton,
#burgerMenu {
  display: none;
}

@media (max-width: 700px) {
  .header {
    padding: 15px 0;
  }

  .header article {
    padding: 0 20px;
  }

  #fullSiteNav {
    display: none;
  }

  #burgerMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: none;
    transition: 0.5s;
  }

  .light #burgerMenuButton:hover {
    background-color: var(--dark);
  }

  .light #burgerMenuButton:hover svg,
  .dark #burgerMenuButton:hover svg {
    stroke: var(--accent);
  }

  .light #burgerMenuButton svg {
    stroke: var(--dark);
    transition: 0.5s;
  }

  .dark #burgerMenuButton svg {
    stroke: var(--light);
    transition: 0.5s;
  }

  #burgerMenu {
    display: block;
    position: absolute;
    left: -280px;
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px;
    min-width: 280px;
    z-index: -10;
    padding: 40px;
    -webkit-animation: slideIn 0.5s forwards;
    animation: slideIn 0.5s forwards;
    background-color: white;
  }

  @keyframes slideIn {
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes slideIn {
    100% {
      left: 0;
    }
  }
}
