.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 30px 0;
}

.header article {
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header nav ul {
  display: flex;
  gap: 30px;
}

.header nav ul li a {
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s;
  padding-bottom: 5px;
}

/* --- Theme Toggle Switch --- */
.themeToggle {
  height: 0;
  width: 0;
  visibility: hidden;
}

.themeToggleLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.themeToggleLabel .themeToggleButton {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  transition: 0.2s;
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
}

.themeToggle:checked + .themeToggleLabel .themeToggleButton {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.themeToggleLabel:active .themeToggleButton {
  width: 60px;
}

@media (max-width: 840px) {
  .header article {
    padding: 0 40px;
  }
}
