.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0 0 0;
  background-color: #efeeea;
  z-index: -10;
}

.contentWrapper {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 40px;
  z-index: 1000;
}

.contentWrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  letter-spacing: -0.3rem;
  margin-bottom: 30px;
}

.contentWrapper section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.contentWrapper section article {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contentWrapper section article img {
  width: 100%;
}

.contentWrapper section article h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.contentWrapper section article h4 {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 400;
}

.linkContainer {
  margin: auto 0 15px 0;
  display: flex;
  gap: 5px;
}

.linkContainer a {
  background-color: none;
  border: solid 1px var(--mainTextColor);
  color: var(--mainTextColor);
  padding: 3px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.5s;
}

.linkContainer a:hover {
  background: var(--mainTextColor);
  color: white;
}

.techContainer {
  border-top: solid 1px #efefef;
  padding-top: 10px;
  width: 100%;
}

.techContainer p {
  font-size: 0.8rem;
  margin-bottom: 5px;
  font-weight: 600;
}

.techContainer div {
  display: flex;
  gap: 5px;
}

.techContainer svg {
  width: 35px;
  fill: var(--mainTextColor);
}

@media (max-width: 960px) {
  .contentWrapper section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .contentWrapper {
    width: 95%;
    padding: 0 2.5%;
  }

  .contentWrapper section {
    grid-template-columns: 1fr;
  }
}
