#toggleContainer {
  display: flex;
}

.checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.6s;
}

.light .switchLabel {
  background-color: var(--dark);
}
.light .switchLabel .switchButton {
  background-color: var(--redAccent);
}

.dark .switchLabel {
  background-color: var(--light);
}
.dark .switchLabel .switchButton {
  background-color: var(--redAccent);
}

.switchLabel .switchButton {
  content: "";
  position: absolute;
  top: -2.5px;
  left: 5px;
  width: 25px;
  height: 25px;
  border-radius: 45px;
  transition: 0.2s;
}

.checkbox:checked + .switchLabel .switchButton {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.switchLabel:active .switchButton {
  width: 35px;
}
