@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;600;800&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Poppins", "Arial", sans-serif;
  --darkBackground: #242f3f;
  --lightBackground: #e1e4e8;
  --darkContrastBackground: #212b39;
}

button {
  cursor: pointer;
}

main {
  min-height: 100vh;
  width: 100%;
  transition: 0.6s;
}

.main-wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

.dark {
  background-color: var(--darkBackground);
}

.light {
  background-color: var(--lightBackground);
}

/* --- Nav Theme Colors --- */
.dark nav li a {
  color: var(--lightBackground);
}

.light nav li a {
  color: var(--darkBackground);
}

.dark nav li a:hover {
  color: var(--lightBackground);
  border-bottom: solid 2px var(--lightBackground);
}

.light nav li a:hover {
  color: var(--darkBackground);
  border-bottom: solid 2px var(--darkBackground);
}

/* --- Theme Toggle Colors --- */
#lightStyle label {
  background-color: var(--darkBackground);
}

#lightStyle label span {
  background-color: var(--lightBackground);
  background-color: var(--lightBackground);
}

#darkStyle,
#lightStyle {
  display: flex;
}

#darkStyle label {
  background-color: var(--lightBackground);
}

#darkStyle label span {
  background-color: var(--darkBackground);
}

/* --- Burger Menu Button --- */
.lightBurgerButton svg {
  stroke: var(--darkBackground);
}
.lightBurgerButton:hover {
  background-color: #cdcdcd !important;
}

.darkBurgerButton svg {
  stroke: var(--lightBackground);
}
.darkBurgerButton:hover {
  background-color: #1d2532 !important;
}

/* --- Burger Menu --- */
.openMenu {
  transform: translateX(-280px);
}

#lightMenu {
  background-color: rgb(233, 233, 233);
}

#lightMenu button {
  background-color: var(--darkBackground);
  color: var(--lightBackground);
}

#lightMenu a {
  color: var(--darkBackground);
}

#lightMenu a:hover {
  border-bottom: solid 2px var(--darkBackground);
}

#darkMenu {
  background-color: rgb(32, 38, 47);
}

#darkMenu button {
  background-color: var(--lightBackground);
  color: var(--darkBackground);
}
#darkMenu a {
  color: var(--lightBackground);
}

#darkMenu a:hover {
  border-bottom: solid 2px var(--lightBackground);
}

/* --- Hero Text Colors --- */
.dark_colorway h1,
.dark_about_colorway {
  color: rgb(230, 253, 255);
}

.dark_colorway h2 {
  color: var(--lightBackground);
}

.light_colorway h1,
.light_about_colorway {
  color: var(--darkBackground);
}

.light_colorway h2 {
  color: var(--darkBackground);
}
