@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bodyFont: "Poppins", sans-serif;
  --titleFont: "Roboto Slab", serif;
  font-family: var(--bodyFont);
  --dark: #374959;
  --light: #f3f7f4;
  --redAccent: #c74269;
  --greyFont: #646464;
  scroll-behavior: smooth;
  color: var(--dark);
}

button {
  cursor: pointer;
}

main {
  min-height: 100vh;
  transition: 0.5s;
}
